body {
    margin: 0;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#zoomable-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}